@model List<EntitiyLayer.Concrete.Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count=1;
}
<h2>Admin İşlemleri</h2>
<br />
<table class="table table-bordered">

    <tr>

        <th>#</th>
        <th>Kullanıcı Mail</th>
        <th>Yetki</th>
        <th>Durum</th>
        <th>İşlemler</th>

    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.UserName</td>
            <td>@item.AdminRole</td>
            <td>Aktif</td>
            <td>
                <a href="/Authorization/DeleteAuthorization/@item.AdminId" class="btn btn-outline-warning">Pasif Yap</a>
                <a href="/Authorization/UpdateAdmin/@item.AdminId" class="btn btn-outline-info">Yetkisini Değiştir</a>
            </td>
        </tr>
    }
</table>
<a href="/Authorization/AddAdmin/" class="btn btn-outline-primary">Yeni Admin Tanımla</a>

