@model List<EntitiyLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<h3>Hakkımda Veri Listesi</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hakkımda Başlığı</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.AboutDetails1</td>
            <td>
                @if (!item.IsActive)
                {
                    <form action="/AdminAbout/ToggleActiveStatus/@item.AboutId" method="post">
                        <button type="submit" class="btn btn-outline-success">Aktif Yap</button>
                    </form>
                }
                @if (item.IsActive)
                {
                    <form action="/AdminAbout/ToggleActiveStatus/@item.AboutId" method="post">
                        <button type="submit" class="btn btn-outline-danger">Pasif Yap</button>
                    </form>
                }
            </td>
           
        </tr>
    }
</table>
@Html.Action("AboutPartial", "AdminAbout")
