@model List<EntitiyLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h3>Hakkımda Veri Listesi</h3>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AboutId</th>
            <td>başlık</td>
            <td><a href="#" class="btn btn-outline-danger">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-outline-danger">Pasif Yap</a></td>
        </tr>
    }
</table>
@Html.Action("AboutPartial","AdminAbout")



