@model EntitiyLayer.Concrete.Category
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Kategori Ekleme Sayfası</h2>
<br />


    @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))//beginform-->Sayfa açıldığında ne olsun.1.p-->methotadı 2.p-->controller 3.p-->ekle-sil-listeleye göre post mu get mi kullanacksın.
    {
        <div class="form-group">

            <label>Kategori Adı</label>
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", PlaceHolder = "Kategori Adı" })
            @Html.ValidationMessageFor(x => x.CategoryName,"" ,new {@class="text-danger"})
            <br />
            <label>Kategori Açıklaması</label>
            @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control", PlaceHolder = "Kategori Açıklaması" })
            @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })
            <br />
            <button class="btn btn-outline-primary">Ekle</button>


        </div>
    }
 

