@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <p class="card-text">Toplam Kategori Sayısı</p>
                    <h5 class="card-title">@TempData["SumCategory"]</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <p class="card-text">İsminde A harfi Geçen Yazar Sayısı</p>
                    <h5 class="card-title">@TempData["AWriter"]</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <p class="card-text">Kategori tablosunda durumu true olan kategoriler ile false olan kategoriler arasındaki sayısal fark</p>
                    <h5 class="card-title">@TempData["fark"]</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <p class="card-text">Kategori tablosunda durumu true olan kategoriler ile false olan kategoriler arasındaki sayısal fark</p>
                    <h5 class="card-title">@TempData["CategoryWithMostHeadings"]</h5>

                </div>
            </div>
        </div>
    </div>
</div>
